body {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
}

#content div {
    margin: 10px auto;
}

#content img {
    margin: 10px auto;
    padding: 10px;
    border: 5px dotted black;
    max-width: 400px;
    max-height: 250px;
}

#buttonDiv {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10%;
    margin: 0 auto;
    padding: 30px;

    background-color: aliceblue;
}

#buttonDiv button {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border: 1px solid black;
    margin: 5px auto;
    padding: 10px;
    font-size: 1.5rem;

    background-color: lightslategray;
    color: white;
}